In [1]:
import pandas as pd
import numpy as np

In [9]:
ucv8 = pd.read_csv("UCV8.csv")

In [6]:
ucv10 = pd.read_csv('UCV10.csv')

In [7]:
ucv10.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,7316814884,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,33590,2014.0,gmc,sierra 1500 crew cab slt,good,8 cylinders,...,NaN,NaN,pickup,white,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:18-0500
1,7316814758,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,22590,2010.0,chevrolet,silverado 1500,good,8 cylinders,...,NaN,NaN,pickup,blue,https://images.craigslist.org/00R0R_lwWjXSEWNa...,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:08-0500
2,7316814989,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,39590,2020.0,chevrolet,silverado 1500 crew,good,8 cylinders,...,NaN,NaN,pickup,red,https://images.craigslist.org/01212_jjirIWa0y0...,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T12:31:25-0500
3,7316743432,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,30990,2017.0,toyota,tundra double cab sr,good,8 cylinders,...,NaN,NaN,pickup,red,https://images.craigslist.org/00x0x_1y9kIOzGCF...,Carvana is the safer way to buy a car During t...,al,32.590,-85.4800,2021-05-04T10:41:31-0500
4,7316356412,https://auburn.craigslist.org/cto/d/auburn-uni...,auburn,https://auburn.craigslist.org,15000,2013.0,ford,f-150 xlt,excellent,6 cylinders,...,rwd,full-size,truck,black,https://images.craigslist.org/00404_l4loxHvdQe...,2013 F-150 XLT V6 4 Door. Good condition. Leve...,al,32.592,-85.5189,2021-05-03T14:02:03-0500

In [20]:
ucv10.describe(include="all")

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
count,4.268530e+05,426853,426853,426853,4.268530e+05,425675.000000,409234,421603,252776,249202,...,296313,120519,334022,296677,426812,426810,426853,420331.000000,420331.000000,426812
unique,NaN,426853,404,413,NaN,NaN,42,29649,6,8,...,3,4,13,12,241899,360887,51,NaN,NaN,381536
top,NaN,https://inlandempire.craigslist.org/ctd/d/vict...,columbus,https://spokane.craigslist.org,NaN,NaN,ford,f-150,good,6 cylinders,...,4wd,full-size,sedan,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,35 VEHICLES PRICED UNDER $3000!!! BIG TIME! T...,ca,NaN,NaN,2021-04-23T22:13:05-0400
freq,NaN,1,3608,2988,NaN,NaN,70985,8009,121456,94169,...,131904,63465,87056,79285,7357,231,50614,NaN,NaN,12
mean,7.311493e+09,NaN,NaN,NaN,7.520308e+04,2011.235191,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.493940,-94.748599,NaN
std,4.410556e+06,NaN,NaN,NaN,1.218267e+07,9.452120,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.841533,18.365462,NaN
min,7.207408e+09,NaN,NaN,NaN,0.000000e+00,1900.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-84.122245,-159.827728,NaN
25%,7.308145e+09,NaN,NaN,NaN,5.900000e+03,2008.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.601900,-111.939847,NaN
50%,7.312622e+09,NaN,NaN,NaN,1.395000e+04,2013.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.150100,-88.432600,NaN
75%,7.315254e+09,NaN,NaN,NaN,2.648800e+04,2017.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.398900,-80.832039,NaN
max,7.317101e+09,NaN,NaN,NaN,3.736929e+09,2022.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.390818,173.885502,NaN

In [12]:
ucv8.columns

Index(['Unnamed: 0', 'id', 'url', 'region', 'region_url', 'price', 'year',
       'manufacturer', 'model', 'condition', 'cylinders', 'fuel', 'odometer',
       'title_status', 'transmission', 'VIN', 'drive', 'size', 'type',
       'paint_color', 'image_url', 'description', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [17]:
ucv8 = ucv8.drop("Unnamed: 0",axis=1)

In [21]:
ucv8.describe(include="all")

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
count,4.582130e+05,458213,458213,458213,4.582130e+05,457163.000000,439993,453367,265273,287073,...,324025,136865,345475,317370,458185,458143,458213,450765.000000,450765.000000,458185
unique,NaN,458213,405,413,NaN,NaN,43,31520,6,8,...,3,4,13,12,285404,384347,51,NaN,NaN,423805
top,NaN,https://quadcities.craigslist.org/ctd/d/waterl...,columbus,https://bend.craigslist.org,NaN,NaN,ford,f-150,good,6 cylinders,...,4wd,full-size,sedan,white,https://images.craigslist.org/00c0c_1gCUGosl6w...,"ðŸ‘‰ BAD Credit, NO Credit - OKAY! We FINANCE ANY...",ca,NaN,NaN,2020-11-22T06:14:19-0500
freq,NaN,1,3818,2989,NaN,NaN,79666,8370,115685,105677,...,139693,69736,92364,82786,194,247,51856,NaN,NaN,7
mean,7.235233e+09,NaN,NaN,NaN,4.042093e+04,2010.746067,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.531925,-94.375824,NaN
std,4.594362e+06,NaN,NaN,NaN,8.194599e+06,8.868136,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.857378,18.076225,NaN
min,7.208550e+09,NaN,NaN,NaN,0.000000e+00,1900.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-82.607549,-164.091797,NaN
25%,7.231953e+09,NaN,NaN,NaN,4.900000e+03,2008.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.600000,-110.890427,NaN
50%,7.236409e+09,NaN,NaN,NaN,1.099500e+04,2013.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.244500,-88.314889,NaN
75%,7.239321e+09,NaN,NaN,NaN,2.149500e+04,2016.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.484503,-81.015022,NaN
max,7.241019e+09,NaN,NaN,NaN,3.615215e+09,2021.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.049255,150.898969,NaN

In [18]:
ucv10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426853 entries, 0 to 426852
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426853 non-null  int64
 1   url           426853 non-null  object
 2   region        426853 non-null  object
 3   region_url    426853 non-null  object
 4   price         426853 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  state         426853 non-null  object
 22  lat           420331 non-null  float64
 23  long          420331 non-null  float64
 24  posting_date  426812 non-null  object
dtypes: float64(4), int64(2), object(19)
memory usage: 81.4+ MB

In [19]:
ucv8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458213 entries, 0 to 458212
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            458213 non-null  int64
 1   url           458213 non-null  object
 2   region        458213 non-null  object
 3   region_url    458213 non-null  object
 4   price         458213 non-null  int64
 5   year          457163 non-null  float64
 6   manufacturer  439993 non-null  object
 7   model         453367 non-null  object
 8   condition     265273 non-null  object
 9   cylinders     287073 non-null  object
 10  fuel          454976 non-null  object
 11  odometer      402910 non-null  float64
 12  title_status  455636 non-null  object
 13  transmission  455771 non-null  object
 14  VIN           270664 non-null  object
 15  drive         324025 non-null  object
 16  size          136865 non-null  object
 17  type          345475 non-null  object
 18  paint_color   317370 non-null  object
 19  image_url     458185 non-null  object
 20  description   458143 non-null  object
 21  state         458213 non-null  object
 22  lat           450765 non-null  float64
 23  long          450765 non-null  float64
 24  posting_date  458185 non-null  object
dtypes: float64(4), int64(2), object(19)
memory usage: 87.4+ MB

In [22]:
pandemic_dataframes = [ucv8, ucv10]
raw_pandemic_data = pd.concat(pandemic_dataframes)
display(raw_pandemic_data)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,8 cylinders,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,6 cylinders,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,4 cylinders,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426848,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426849,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,fwd,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426850,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426851,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,fwd,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426852,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,rwd,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [24]:
ucv2 = pd.read_csv("UCV2.csv")

In [25]:
ucv2.columns

Index(['url', 'city', 'city_url', 'price', 'year', 'manufacturer', 'make',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'desc', 'lat', 'long'],
      dtype='object')

In [26]:
ucv3 = pd.read_csv("UCV3.csv")

In [27]:
ucv3.columns

Index(['url', 'city', 'city_url', 'price', 'year', 'manufacturer', 'make',
       'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'desc', 'lat', 'long'],
      dtype='object')

In [53]:
prepandemic_dataframes = [ucv2, ucv3]
raw_prepandemic_data = pd.concat(prepandemic_dataframes)
display(raw_prepandemic_data)

,url,city,city_url,price,year,manufacturer,make,condition,cylinders,fuel,...,transmission,VIN,drive,size,type,paint_color,image_url,desc,lat,long
0,https://abilene.craigslist.org/cto/d/aspermont...,"abilene, TX",https://abilene.craigslist.org,9000,2009.0,chevrolet,suburban lt2,good,8 cylinders,gas,...,automatic,1GFNC26099R211276,rwd,full-size,SUV,white,https://images.craigslist.org/00909_5P6f1E6zHl...,2WD 1/2 ton\nLeather Captains Chairs\nIn good ...,33.130100,-100.234400
1,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,31999,2012.0,ram,2500,NaN,NaN,diesel,...,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00u0u_24XW8uhLYP...,www.GETADIESEL.com\n2012 RAM 2500 SLT 4X4 MEGA...,30.648368,-97.862949
2,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,16990,2003.0,ram,3500,NaN,NaN,diesel,...,manual,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00l0l_H1UKTJ4sTI...,www.GETADIESEL.com\n2003 DODGE RAM 3500 LARAMI...,30.648516,-97.862434
3,https://abilene.craigslist.org/cto/d/merkel-20...,"abilene, TX",https://abilene.craigslist.org,6000,2002.0,gmc,sierra 1500,good,8 cylinders,gas,...,automatic,NaN,4wd,NaN,pickup,white,https://images.craigslist.org/00M0M_2wKzc7dKLU...,2002 GMC Sierra Extended Cab Truck For Sale! R...,32.444400,-99.992400
4,https://abilene.craigslist.org/cto/d/breckenri...,"abilene, TX",https://abilene.craigslist.org,37000,2012.0,chevrolet,3500,excellent,8 cylinders,diesel,...,automatic,NaN,4wd,full-size,pickup,silver,https://images.craigslist.org/00r0r_eW1YWlKfCG...,"2012 Chevrolet 3500 178k miles, runs and drive...",32.781689,-98.942248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525834,https://abilene.craigslist.org/cto/d/abilene-2...,"abilene, TX",https://abilene.craigslist.org,11000,2002.0,jeep,wrangler,excellent,6 cylinders,gas,...,manual,NaN,4wd,NaN,NaN,white,https://images.craigslist.org/00404_e7mDrpjXlj...,"2002 Jeep wrangler with 91,000 miles. Has seve...",32.401556,-99.884713
525835,https://abilene.craigslist.org/ctd/d/lubbock-2...,"abilene, TX",https://abilene.craigslist.org,6500,2012.0,nissan,rogue s awd,good,4 cylinders,gas,...,automatic,NaN,4wd,mid-size,SUV,white,https://images.craigslist.org/00U0U_8fAEYCFBB1...,"For sale is a clean, great running/driving 201...",33.526000,-101.833300
525836,https://abilene.craigslist.org/cto/d/abilene-2...,"abilene, TX",https://abilene.craigslist.org,3000,2005.0,ford,taurus,good,6 cylinders,gas,...,automatic,NaN,fwd,mid-size,sedan,white,https://images.craigslist.org/00f0f_1jDzkAAhC9...,For Sale By Owner \n2005 White Ford Taurus SEL...,32.579641,-99.663505
525837,https://abilene.craigslist.org/ctd/d/temple-su...,"abilene, TX",https://abilene.craigslist.org,8488,2011.0,honda,accord lx sedan,NaN,NaN,gas,...,automatic,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00C0C_fWL6kdm66i...,www.TEXASDIESELSTORE.com\n\nCALL OR TEXT TODAY...,31.071000,-97.389800
525838,https://abilene.craigslist.org/cto/d/roscoe-20...,"abilene, TX",https://abilene.craigslist.org,6150,2011.0,NaN,cherolet cruze lt,good,4 cylinders,gas,...,automatic,NaN,fwd,mid-size,sedan,grey,https://images.craigslist.org/00W0W_i1aq2MgfE1...,"2011 Chevrolet cruze,one owner,4cyl,auto only ...",32.432229,-100.534344

In [29]:
ucv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550313 entries, 0 to 550312
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   url           550313 non-null  object
 1   city          550313 non-null  object
 2   city_url      550313 non-null  object
 3   price         550313 non-null  int64
 4   year          548826 non-null  float64
 5   manufacturer  523398 non-null  object
 6   make          540636 non-null  object
 7   condition     300239 non-null  object
 8   cylinders     331316 non-null  object
 9   fuel          545572 non-null  object
 10  odometer      439513 non-null  float64
 11  title_status  546289 non-null  object
 12  transmission  546258 non-null  object
 13  VIN           311075 non-null  object
 14  drive         384475 non-null  object
 15  size          184057 non-null  object
 16  type          391134 non-null  object
 17  paint_color   370292 non-null  object
 18  image_url     550287 non-null  object
 19  desc          550283 non-null  object
 20  lat           538523 non-null  float64
 21  long          538523 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 92.4+ MB

In [30]:
ucv3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525839 entries, 0 to 525838
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   url           525839 non-null  object
 1   city          525839 non-null  object
 2   city_url      525839 non-null  object
 3   price         525839 non-null  int64
 4   year          524399 non-null  float64
 5   manufacturer  501260 non-null  object
 6   make          517201 non-null  object
 7   condition     279881 non-null  object
 8   cylinders     315439 non-null  object
 9   fuel          521544 non-null  object
 10  odometer      427248 non-null  float64
 11  title_status  523014 non-null  object
 12  transmission  521572 non-null  object
 13  VIN           305653 non-null  object
 14  drive         374475 non-null  object
 15  size          174519 non-null  object
 16  type          376906 non-null  object
 17  paint_color   354306 non-null  object
 18  image_url     525831 non-null  object
 19  desc          525815 non-null  object
 20  lat           513618 non-null  float64
 21  long          513618 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 88.3+ MB

In [54]:
raw_prepandemic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076152 entries, 0 to 525838
Data columns (total 22 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1076152 non-null  object
 1   city          1076152 non-null  object
 2   city_url      1076152 non-null  object
 3   price         1076152 non-null  int64
 4   year          1073225 non-null  float64
 5   manufacturer  1024658 non-null  object
 6   make          1057837 non-null  object
 7   condition     580120 non-null   object
 8   cylinders     646755 non-null   object
 9   fuel          1067116 non-null  object
 10  odometer      866761 non-null   float64
 11  title_status  1069303 non-null  object
 12  transmission  1067830 non-null  object
 13  VIN           616728 non-null   object
 14  drive         758950 non-null   object
 15  size          358576 non-null   object
 16  type          768040 non-null   object
 17  paint_color   724598 non-null   object
 18  image_url     1076118 non-null  object
 19  desc          1076098 non-null  object
 20  lat           1052141 non-null  float64
 21  long          1052141 non-null  float64
dtypes: float64(4), int64(1), object(17)
memory usage: 188.8+ MB

In [45]:
raw_pandemic_data.reset_index(drop=True, inplace=True)
raw_pandemic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885066 entries, 0 to 885065
Data columns (total 23 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   url           885066 non-null  object
 1   region        885066 non-null  object
 2   region_url    885066 non-null  object
 3   price         885066 non-null  int64
 4   year          882838 non-null  float64
 5   manufacturer  849227 non-null  object
 6   model         874970 non-null  object
 7   condition     518049 non-null  object
 8   cylinders     536275 non-null  object
 9   fuel          878843 non-null  object
 10  odometer      825390 non-null  float64
 11  title_status  874274 non-null  object
 12  transmission  880095 non-null  object
 13  VIN           536502 non-null  object
 14  drive         620338 non-null  object
 15  size          257384 non-null  object
 16  type          679497 non-null  object
 17  paint_color   614047 non-null  object
 18  image_url     884997 non-null  object
 19  description   884953 non-null  object
 20  lat           871096 non-null  float64
 21  long          871096 non-null  float64
 22  posting_date  884997 non-null  object
dtypes: float64(4), int64(1), object(18)
memory usage: 155.3+ MB

In [55]:
raw_prepandemic_data.insert(22,"posting_date",None)

In [56]:
raw_prepandemic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1076152 entries, 0 to 525838
Data columns (total 23 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1076152 non-null  object
 1   city          1076152 non-null  object
 2   city_url      1076152 non-null  object
 3   price         1076152 non-null  int64
 4   year          1073225 non-null  float64
 5   manufacturer  1024658 non-null  object
 6   make          1057837 non-null  object
 7   condition     580120 non-null   object
 8   cylinders     646755 non-null   object
 9   fuel          1067116 non-null  object
 10  odometer      866761 non-null   float64
 11  title_status  1069303 non-null  object
 12  transmission  1067830 non-null  object
 13  VIN           616728 non-null   object
 14  drive         758950 non-null   object
 15  size          358576 non-null   object
 16  type          768040 non-null   object
 17  paint_color   724598 non-null   object
 18  image_url     1076118 non-null  object
 19  desc          1076098 non-null  object
 20  lat           1052141 non-null  float64
 21  long          1052141 non-null  float64
 22  posting_date  0 non-null        object
dtypes: float64(4), int64(1), object(18)
memory usage: 197.0+ MB

In [57]:
raw_prepandemic_data.reset_index(drop=True, inplace=True)
raw_prepandemic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1076152 entries, 0 to 1076151
Data columns (total 23 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   url           1076152 non-null  object
 1   city          1076152 non-null  object
 2   city_url      1076152 non-null  object
 3   price         1076152 non-null  int64
 4   year          1073225 non-null  float64
 5   manufacturer  1024658 non-null  object
 6   make          1057837 non-null  object
 7   condition     580120 non-null   object
 8   cylinders     646755 non-null   object
 9   fuel          1067116 non-null  object
 10  odometer      866761 non-null   float64
 11  title_status  1069303 non-null  object
 12  transmission  1067830 non-null  object
 13  VIN           616728 non-null   object
 14  drive         758950 non-null   object
 15  size          358576 non-null   object
 16  type          768040 non-null   object
 17  paint_color   724598 non-null   object
 18  image_url     1076118 non-null  object
 19  desc          1076098 non-null  object
 20  lat           1052141 non-null  float64
 21  long          1052141 non-null  float64
 22  posting_date  0 non-null        object
dtypes: float64(4), int64(1), object(18)
memory usage: 188.8+ MB

In [58]:
raw_prepandemic_data.tail()

,url,city,city_url,price,year,manufacturer,make,condition,cylinders,fuel,...,VIN,drive,size,type,paint_color,image_url,desc,lat,long,posting_date
1076147,https://abilene.craigslist.org/cto/d/abilene-2...,"abilene, TX",https://abilene.craigslist.org,11000,2002.0,jeep,wrangler,excellent,6 cylinders,gas,...,NaN,4wd,NaN,NaN,white,https://images.craigslist.org/00404_e7mDrpjXlj...,"2002 Jeep wrangler with 91,000 miles. Has seve...",32.401556,-99.884713,None
1076148,https://abilene.craigslist.org/ctd/d/lubbock-2...,"abilene, TX",https://abilene.craigslist.org,6500,2012.0,nissan,rogue s awd,good,4 cylinders,gas,...,NaN,4wd,mid-size,SUV,white,https://images.craigslist.org/00U0U_8fAEYCFBB1...,"For sale is a clean, great running/driving 201...",33.526000,-101.833300,None
1076149,https://abilene.craigslist.org/cto/d/abilene-2...,"abilene, TX",https://abilene.craigslist.org,3000,2005.0,ford,taurus,good,6 cylinders,gas,...,NaN,fwd,mid-size,sedan,white,https://images.craigslist.org/00f0f_1jDzkAAhC9...,For Sale By Owner \n2005 White Ford Taurus SEL...,32.579641,-99.663505,None
1076150,https://abilene.craigslist.org/ctd/d/temple-su...,"abilene, TX",https://abilene.craigslist.org,8488,2011.0,honda,accord lx sedan,NaN,NaN,gas,...,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00C0C_fWL6kdm66i...,www.TEXASDIESELSTORE.com\n\nCALL OR TEXT TODAY...,31.071000,-97.389800,None
1076151,https://abilene.craigslist.org/cto/d/roscoe-20...,"abilene, TX",https://abilene.craigslist.org,6150,2011.0,NaN,cherolet cruze lt,good,4 cylinders,gas,...,NaN,fwd,mid-size,sedan,grey,https://images.craigslist.org/00W0W_i1aq2MgfE1...,"2011 Chevrolet cruze,one owner,4cyl,auto only ...",32.432229,-100.534344,None

In [59]:
raw_prepandemic_data.rename(columns = {'city':'region', 'city_url':'region_url', 'make':'model','desc':'description'}, inplace=True)
raw_prepandemic_data.head()

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,VIN,drive,size,type,paint_color,image_url,description,lat,long,posting_date
0,https://abilene.craigslist.org/cto/d/aspermont...,"abilene, TX",https://abilene.craigslist.org,9000,2009.0,chevrolet,suburban lt2,good,8 cylinders,gas,...,1GFNC26099R211276,rwd,full-size,SUV,white,https://images.craigslist.org/00909_5P6f1E6zHl...,2WD 1/2 ton\nLeather Captains Chairs\nIn good ...,33.130100,-100.234400,None
1,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,31999,2012.0,ram,2500,NaN,NaN,diesel,...,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00u0u_24XW8uhLYP...,www.GETADIESEL.com\n2012 RAM 2500 SLT 4X4 MEGA...,30.648368,-97.862949,None
2,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,16990,2003.0,ram,3500,NaN,NaN,diesel,...,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00l0l_H1UKTJ4sTI...,www.GETADIESEL.com\n2003 DODGE RAM 3500 LARAMI...,30.648516,-97.862434,None
3,https://abilene.craigslist.org/cto/d/merkel-20...,"abilene, TX",https://abilene.craigslist.org,6000,2002.0,gmc,sierra 1500,good,8 cylinders,gas,...,NaN,4wd,NaN,pickup,white,https://images.craigslist.org/00M0M_2wKzc7dKLU...,2002 GMC Sierra Extended Cab Truck For Sale! R...,32.444400,-99.992400,None
4,https://abilene.craigslist.org/cto/d/breckenri...,"abilene, TX",https://abilene.craigslist.org,37000,2012.0,chevrolet,3500,excellent,8 cylinders,diesel,...,NaN,4wd,full-size,pickup,silver,https://images.craigslist.org/00r0r_eW1YWlKfCG...,"2012 Chevrolet 3500 178k miles, runs and drive...",32.781689,-98.942248,None

In [91]:
dataframes = [raw_prepandemic_data, raw_pandemic_data]
raw_data = pd.concat(dataframes)
display(raw_data)

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,VIN,drive,size,type,paint_color,image_url,description,lat,long,posting_date
0,https://abilene.craigslist.org/cto/d/aspermont...,"abilene, TX",https://abilene.craigslist.org,9000,2009,chevrolet,suburban lt2,good,8 cylinders,gas,...,1GFNC26099R211276,rwd,full-size,SUV,white,https://images.craigslist.org/00909_5P6f1E6zHl...,2WD 1/2 ton\nLeather Captains Chairs\nIn good ...,33,-100,None
1,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,31999,2012,ram,2500,NaN,NaN,diesel,...,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00u0u_24XW8uhLYP...,www.GETADIESEL.com\n2012 RAM 2500 SLT 4X4 MEGA...,31,-98,None
2,https://abilene.craigslist.org/ctd/d/liberty-h...,"abilene, TX",https://abilene.craigslist.org,16990,2003,ram,3500,NaN,NaN,diesel,...,NaN,NaN,NaN,NaN,NaN,https://images.craigslist.org/00l0l_H1UKTJ4sTI...,www.GETADIESEL.com\n2003 DODGE RAM 3500 LARAMI...,31,-98,None
3,https://abilene.craigslist.org/cto/d/merkel-20...,"abilene, TX",https://abilene.craigslist.org,6000,2002,gmc,sierra 1500,good,8 cylinders,gas,...,NaN,4wd,NaN,pickup,white,https://images.craigslist.org/00M0M_2wKzc7dKLU...,2002 GMC Sierra Extended Cab Truck For Sale! R...,32,-100,None
4,https://abilene.craigslist.org/cto/d/breckenri...,"abilene, TX",https://abilene.craigslist.org,37000,2012,chevrolet,3500,excellent,8 cylinders,diesel,...,NaN,4wd,full-size,pickup,silver,https://images.craigslist.org/00r0r_eW1YWlKfCG...,"2012 Chevrolet 3500 178k miles, runs and drive...",33,-99,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885061,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019,nissan,maxima s sedan 4d,good,6 cylinders,gas,...,1N4AA6AV6KC367801,fwd,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,34,-84,2021-04-04T03:21:31-0600
885062,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020,volvo,s60 t5 momentum sedan 4d,good,NaN,gas,...,7JR102FKXLG042696,fwd,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,34,-84,2021-04-04T03:21:29-0600
885063,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020,cadillac,xt4 sport suv 4d,good,NaN,diesel,...,1GYFZFR46LF088296,NaN,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,34,-84,2021-04-04T03:21:17-0600
885064,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018,lexus,es 350 sedan 4d,good,6 cylinders,gas,...,58ABK1GG4JU103853,fwd,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,34,-84,2021-04-04T03:21:11-0600
885065,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019,bmw,4 series 430i gran coupe,good,NaN,gas,...,WBA4J1C58KBM14708,rwd,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,34,-84,2021-04-04T03:21:07-0600

In [92]:
raw_data.reset_index(drop=True, inplace=True)
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961218 entries, 0 to 1961217
Data columns (total 23 columns):
 #   Column        Dtype
---  ------        -----
 0   url           object
 1   region        object
 2   region_url    object
 3   price         int64
 4   year          float64
 5   manufacturer  object
 6   model         object
 7   condition     object
 8   cylinders     object
 9   fuel          object
 10  odometer      float64
 11  title_status  object
 12  transmission  object
 13  VIN           object
 14  drive         object
 15  size          object
 16  type          object
 17  paint_color   object
 18  image_url     object
 19  description   object
 20  lat           float64
 21  long          float64
 22  posting_date  object
dtypes: float64(4), int64(1), object(18)
memory usage: 344.1+ MB

In [93]:
raw_data.fillna({'year':0}, inplace=True)
raw_data['year'] = raw_data['year'].astype(int)
raw_data['year']

0          2009
1          2012
2          2003
3          2002
4          2012
           ...
1961213    2019
1961214    2020
1961215    2020
1961216    2018
1961217    2019
Name: year, Length: 1961218, dtype: int32

In [94]:
raw_data['odometer'] = raw_data['odometer'].astype(int, errors='ignore')
raw_data['odometer']

0         217743
1            nan
2            nan
3         195000
4         178000
           ...
1961213    32226
1961214    12029
1961215     4174
1961216    30112
1961217    22716
Name: odometer, Length: 1961218, dtype: float64

In [97]:
raw_data['lat'] = raw_data['lat'].astype(object)
raw_data['lat']

0         33
1         31
2         31
3         32
4         33
          ..
1961213   34
1961214   34
1961215   34
1961216   34
1961217   34
Name: lat, Length: 1961218, dtype: object

In [98]:
raw_data['long'] = raw_data['long'].astype(object)
raw_data['long']

0         -100
1          -98
2          -98
3         -100
4          -99
          ...
1961213    -84
1961214    -84
1961215    -84
1961216    -84
1961217    -84
Name: long, Length: 1961218, dtype: object

In [95]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [99]:
raw_data.describe().round(0)

           price    year   odometer
count    1961218 1961218    1692151
mean       68799    2005     101178
std     10856876     103    1583663
min            0       0          0
25%         4399    2007      44372
50%        10000    2012      91500
75%        19995    2016     136770
max   3787876818    2022 2043755555

In [84]:
raw_data.max()

url           https://zanesville.craigslist.org/cto/d/zanesv...
region                                   zanesville / cambridge
region_url                    https://zanesville.craigslist.org
price                                                3787876818
year                                                       2022
odometer                                             2043755555
lat                                                          84
long                                                        174
dtype: object

In [90]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1961218 entries, 0 to 1961217
Data columns (total 23 columns):
 #   Column        Dtype
---  ------        -----
 0   url           object
 1   region        object
 2   region_url    object
 3   price         int64
 4   year          int32
 5   manufacturer  object
 6   model         object
 7   condition     object
 8   cylinders     object
 9   fuel          object
 10  odometer      float64
 11  title_status  object
 12  transmission  object
 13  VIN           object
 14  drive         object
 15  size          object
 16  type          object
 17  paint_color   object
 18  image_url     object
 19  description   object
 20  lat           object
 21  long          object
 22  posting_date  object
dtypes: float64(1), int32(1), int64(1), object(20)
memory usage: 336.7+ MB